@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


:root {
    --blue: #002285;
    --bg-blue:#e6ecf7;
    --orange:#ff6c06;
}

* {
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection {
    background:var(--orange);
    color:#fff;
}

html {
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background:var(--bg-blue);
}

section {
    padding: 0 10%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.dh2 {
    font-size: 6rem;
    font-weight: 700;
    color:#fff;
}

.dp {
    font-size: 1.8rem;
    margin: 2rem auto;
    font-weight: 300;
    color:#fff;
}

header .bg-body-tertiary {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    --bs-bg-opacity: 0;
    background-color: var(--bg-blue) !important;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
}

header .navbar-brand .logo {
    width: 80%;
    display: inline-block;
  }

header .bg-body-tertiary .nav-div .navbar-collapse {
    flex-grow: 0.1;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 2rem;
    border-width: 0;
    border-color: #fff;
}

.btn {
    padding: .8rem 2rem;
    font-size: 1.7rem;
    font-weight: 500;
    background:var(--blue);
    color:#fff;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all .3s linear;
}

.btn:hover {
    background: #fff;
    color: var(--blue);
}

.hero {
    display: block;
    text-align: center;
    margin: 10% 0;
}

.hero .content h1 {
    margin-bottom: 10%;
    font-size: 6rem;
    font-weight: 800;
    color: #000;
}

.image img {
    width: 100%;
}

.victorians {
    text-align: center;
    padding-bottom: 2%;
    background:url(../images/sbg.png) no-repeat;
    background-size: cover;
    background-position: center;
} 

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #container div {
    padding: 10px;
    margin: 5px; 
  }

  #container div img {
    width: 100%;
}

  .div-1, .div-2 {
    flex: 1 1 0;
  }
  
  .div-3 {
     flex: 100%;
     order: 3;
  }

.why .contents .dh2 {
    text-align: center;
    font-weight: 600;
    color: #000;
}

.why .contents .dp {
    color: #000;
}

.bgdesign {
    margin-top: 3%;
    padding: 10%;
    background:url(../images/sbg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.addimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    width: 80%;
}

.culture h2 {
    text-align: center;
    font-weight: 600;
    color: #000;
}

.culture .culture-box {
    display: flex;
    justify-content: center;
}

.culture .culture-box .box {
    margin-top: 5rem;
    width: 80%;
    padding: 5rem;
    border-radius: 5rem;
    background: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.culture .culture-box .box h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #000;
}

.culture .culture-box .box p {
    font-size: 1.8rem;
    font-weight: 300;
    color: #000;
}


 /* .dev .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dev .box-container .box{
    background:#fff;
    margin:1rem;
    padding:1rem;
    text-align: center;
    position: relative;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    flex: 1 1 20rem;
    border-radius: .5rem;
}

.dev h1 {
    text-align: center;
} */

/* Responsiveness */

@media(max-width:991px){

    section{
        padding:0 2%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

    .dh2{
        font-size: 4rem;
    }

    .dp{
        font-size: 1.5rem;
        width:auto;
    }

    header .bg-body-tertiary {
        padding-left: 2%;
        padding-right: 2%;
    }

    header .navbar-brand .logo {
        width: 60%;
        display: inline-block;
      }
    
    .navbar-toggler .tbtn {
        font-size: 1.5rem;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .btn {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    .hero .content h1 {
        font-size: 4rem;
    }

    .culture .culture-box .box {
        width: 100%;
        padding: 5rem;
    }

    .culture .culture-box .box h3 {
        font-size: 2rem;
    }
    
    .culture .culture-box .box p {
        font-size: 1.5rem;
    }

}

@media (max-width:768px){

    header .bg-body-tertiary {
        padding-left: 1%;
        padding-right: 1%;
    }

}