@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


:root {
    --blue: #002285;
    --bg-blue:#e6ecf7;
    --orange:#ff6c06;
}

* {
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection {
    background:var(--orange);
    color:#fff;
}

html {
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background:var(--bg-blue);
}

section {
    min-height: 100vh;
    padding: 0 10%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

header .bg-body-tertiary {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    --bs-bg-opacity: 0;
    background-color: var(--bg-blue) !important;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
}

header .navbar-brand .logo {
    width: 80%;
    display: inline-block;
  }

header .bg-body-tertiary .nav-div .navbar-collapse {
    flex-grow: 0.1;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 2rem;
    border-width: 0;
    border-color: #fff;
}

.btn {
    padding: .8rem 2rem;
    font-size: 1.7rem;
    font-weight: 500;
    background:var(--blue);
    color:#fff;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all .3s linear;
}

.btn:hover {
    background: #fff;
    color: var(--blue);
}

.hero {
    display: block;
    text-align: center;
    margin: 10% 0;
}

.hero .content h1 {
    margin-bottom: 10%;
    font-size: 6rem;
    font-weight: 800;
    color: #000;
}

.image img {
    width: 100%;
}

.victorians {
    text-align: center;
    padding: 6rem 1rem;
    background:url(../images/subscribe-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.victorians h2{
    font-size: 8rem;
    font-weight: 700;
    color:#fff;
}

.victorians p{
    font-size: 2rem;
    margin: 2rem auto;
    font-weight: 300;
    width: 80%;
    color:#fff;
}

/* Responsiveness */

@media(max-width:991px){

    header .bg-body-tertiary {
        padding-left: 2%;
        padding-right: 2%;
    }

    header .navbar-brand .logo {
        width: 60%;
        display: inline-block;
      }
    
    .navbar-toggler .tbtn {
        font-size: 1.5rem;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .btn {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    .hero .content h1 {
        font-size: 4rem;
    }

    .victorians h2{
        font-size: 6rem;
    }

    .victorians p{
        font-size: 1.8rem;
        width:auto;
    }
}

@media (max-width:768px){

    header .bg-body-tertiary {
        padding-left: 1%;
        padding-right: 1%;
    }

    .victorians p{
        width:auto;
    }


}